html,
body,
#root {
    height: 100%;
}

::-webkit-scrollbar {
    width: 7px;
    height: 5px;
    /* background-color: #efefef; */
}

form ::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #ffd3d9;
}
